.DS_Store
.dockerignore
.git
.gitignore
.log
tmp
docker
docker-compose.yml

# Mix artifacts
_build
cover
deps
doc
*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts if you're using Phoenix if it's an umbrella app change the paths
apps/rna_web/node_modules
apps/rna_web/priv

# any other directories that have files that don't need to be included in the build
# these are specific to the sample project
docs